# Yarn #
########
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Cache #
#########
coverage
*.tsbuildinfo
.eslintcache
.next

# Artifacts #
#############
*.js
*.d.ts
*.epub
*.zip
out
content
favicon.ico
