# Cache #
#########
coverage
node_modules
*.tsbuildinfo
.eslintcache
.next

# Artifacts #
#############
/*.js
!/*.config.js
/*.d.ts
/*.epub
/*.mhtml
/*.zip
/*.wasm
/out
/scripts
/target
/pkg
/favicon.ico
