# Yarn #
########
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Cache #
#########
coverage
node_modules
*.tsbuildinfo
.eslintcache
.next

# Artifacts #
#############
/*.js
/*.d.ts
/*.epub
/*.zip
/out
/scripts
/target
/pkg
/favicon.ico
